<div id="header">
  <div id="logo">Book DriveTest</div>
  <div id="links">
    <a href="/">DASHBOARD</a>
    <a href="/G2">G2_TEST</a>
    <a href="/G">G_TEST</a>
    <a href="/Login">LOGIN</a>
  </div>
</div>
